@import '../assets/styles/_base.scss';

.sectionSimple {
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #ffffff;
}
.sectionRoundBottom {
  composes: sectionSimple;
  height: 35rem;
  background: rgb(101, 97, 125);
  background: linear-gradient(
    0deg,
    rgba(101, 97, 125, 1) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  clip-path: circle(70rem at 50% -100%);

  @include Small {
    height: 38rem;
    clip-path: circle(95rem at 50% -150%);
  }
  @include Large {
    height: 40rem;
    clip-path: circle(160rem at 50% -302%);
  }
}
.sectionRoundTop {
  composes: sectionSimple;
  height: 40rem;
  background: rgb(101, 97, 125);
  background: linear-gradient(
    180deg,
    rgba(101, 97, 125, 1) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  clip-path: circle(159rem at 50% 398%);
}
.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  height: inherit;
  padding: 0 1.0875rem;
  position: relative;

  &:after {
    content: '';
    clear: both;
    display: block;
  }
}
.wrapperFlex {
  composes: wrapper;
  display: flex;
  flex-direction: column-reverse;

  @include Medium {
    display: block;
  }
}
.wrapperFlex34 {
  composes: wrapperFlex;
  height: 34rem;
}

.col1of2 {
  height: auto;
  padding: 0;
  width: 100%;
  text-align: center;

  @include Medium {
    float: left;
    max-width: 50%;
    height: inherit;
    text-align: left;
  }
}
.col1of3 {
  composes: col1of2;

  @include Medium {
    max-width: 33.3%;
  }
}
.col2of3 {
  composes: col1of2;

  @include Medium {
    max-width: 66.6%;
    text-align: center;
  }
}
.textbox {
  color: $mainGray;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include Small {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  @include Medium {
    transform: translateY(120%);
  }

  @include Large {
    width: 110%;
    transform: translateY(100%);
  }
}
.textbox2 {
  composes: textbox;
  padding-bottom: 2rem;

  @include Small {
    padding-bottom: 1rem;
  }
  @include Medium {
    transform: translateY(70%);
  }
  @include Large {
    transform: translateY(60%);
  }
}
.row {
  width: 100%;
  text-align: center;
  color: $mainRed;
  padding-top: 3rem;
}

h1 {
  font-size: 1.6rem;

  @include Small {
    font-size: 1.8rem;
  }
  @include Medium {
    font-size: 2rem;
  }
  @include Large {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.2rem;

  @include Medium {
    font-size: 1.4rem;
  }
  @include Large {
    font-size: 1.62671rem;
  }
}
h4 {
  @include Small {
    font-size: 1.1rem;
  }
}

/* =========Images========= */

.illustration {
  max-width: 15rem;
  margin-top: 9rem;

  @include Small {
    max-width: 22rem;
    margin-top: 10rem;
  }
  @include Medium {
    max-width: 27rem;
    margin-left: -3rem;
    padding-right: 1.0875rem;
  }
  @include Large {
    max-width: 31rem;
  }
}
.illustrationConnect {
  composes: illustration;
  @include Small {
    max-width: 20rem;
  }
  @include Medium {
    margin-top: 5rem;
    max-width: 27rem;
  }
}

.slider_btn {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 48%;
  margin-top: -1.2rem;
  z-index: 2;

  @include Large {
    margin-top: -2rem;
  }
}
.iphone {
  max-width: 16rem;
  overflow: hidden;

  @include Small {
    max-width: 20rem;
    margin-top: -0.5rem;
  }
  @include Medium {
    max-width: 22rem;
    margin-top: 4rem;
  }
  @include Large {
    max-width: 25rem;
  }
}
.prizy_logo {
  background-color: gray;
  display: block;
  width: 200px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 1rem;

  @include Small {
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }
  @include Medium {
    margin-top: 9rem;
  }
  @include Large {
    margin-bottom: 3rem;
  }
}
.download_btn {
  display: inline-block;
  width: 9rem;
  height: auto;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  transition: transform 0.3s;
  margin-bottom: 2rem;

  @include Small {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  @include Large {
    margin-top: 2rem;
  }

  &:hover {
    transform: scale(1.1);
  }
}
