@import '../assets/styles/_base.scss';

.section {
    height: 40rem;
    margin: 0;
    padding: 0;
    background: rgb(101,97,125);
    background: linear-gradient(0deg, rgba(101,97,125,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
}
.section__no_bg {
    height: 40rem;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.section__reflect_bg {
    height: 40rem;
    margin: 0;
    padding: 0;
    height: 40rem;
    background: rgb(101,97,125);
    background: linear-gradient(180deg, rgba(101,97,125,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
}
.wrapper {
    margin: 0 auto;
    max-width: 1024px;
    height: auto;
    padding: 0 1.0875rem;
    position: relative;
}
.wrapper__1_of_3 {
    margin: 0 auto;
    height: auto;
    padding: 0 1.0875rem;
    position: relative;
    float: left;
    width: 33.3%;
}
.wrapper__2_of_3 {
    margin: 0 auto;
    float: left;
    width: 66.6%;
    height: auto;
    text-align: center;
    padding: 0 1.0875rem;
}
.textbox {
    color: $mainGray;
    position: absolute;
    width: 53%;
    transform: translateY(120%);
    left: 0;
    padding: 1.0875rem;
}
.row {
    width: 100%;
    text-align: center;
    padding: 2.44rem;
    color: $mainRed;
}

/* =========Images========= */

.illustration {
    height: 25rem;
    width: auto;
    position: absolute;
    right: 0;
    transform: translateY(30%);
}
.slider_btn {
    position: absolute;
    width: 52px;
    height: auto;
    margin-top: -65px;
    margin-left: -1rem;
}
.iphone {
    max-width: 170%;
    margin-left: -40%;
}
.prizy_logo {
    background-color: gray;
    display: block;
    width: 200px;
    height: 60px;
    margin: 0 auto;
    margin-top: 7rem;
    margin-bottom: 1.5rem;
}
.download_btn {
    display: inline-block;
    width: 30%;
    height: auto;
    margin-left: 1rem;
    transition: transform .3s;

    &:hover {
        transform: scale(1.1);
    }
}
