@import '../assets/styles/_base.scss';

.section {
    height: 40rem;
    margin: 0;
    padding: 0;
    background: rgb(101,97,125);
    background: linear-gradient(0deg, rgba(101,97,125,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
}
.section__no_bg {
    height: 40rem;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.section__reflect_bg {
    height: 40rem;
    margin: 0;
    padding: 0;
    background: rgb(101,97,125);
    background: linear-gradient(180deg, rgba(101,97,125,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
}
.wrapper {
    margin: 0 auto;
    max-width: 1024px;
    height: inherit;
    padding: 0 1.0875rem;
    position: relative;

    &:after {
        content: "";
        clear: both;
        display: block;
    }
}
.col1of2 {
    max-width: 50%;
    height: inherit;
    padding: 0;
    float: left;
}
.col1of3 {
    height: inherit;
    padding: 0;
    float: left;
    max-width: 33.3%;
}
.col2of3 {
    float: left;
    width: 66.6%;
    height: inherit;
    text-align: center;
    padding: 0;
}
.textbox {
    color: $mainGray;
    width: 110%;
    margin: 0 auto;
    transform: translateY(200%);
}
.row {
    width: 100%;
    text-align: center;
    padding: 2.44rem;
    color: $mainRed;
    position: absolute;
}


/* =========Images========= */

.illustration_team {
    max-width: 120%;
    transform: translateY(35%);
    margin-left: -3rem;
}
.illustration_connect {
    max-width: 120%;
}
.slider_btn {
    position: absolute;
    width: 52px;
    height: auto;
    margin-top: -65px;
    margin-left: -1rem;
}
.iphone {
    max-width: 130%;
    margin-top: 45%;
}
.prizy_logo {
    background-color: gray;
    display: block;
    width: 200px;
    height: 60px;
    margin: 0 auto;
    margin-top: 45%;
    margin-bottom: 1.5rem;
}
.download_btn {
    display: inline-block;
    width: 30%;
    height: auto;
    margin-left: 1rem;
    transition: transform .3s;

    &:hover {
        transform: scale(1.1);
    }
}
