@import "../assets/styles/base";
@import "../assets/styles/global";

.footer {
    background-color: $mainGray;
    color: white;
    width: 100%;
    height: 10rem;
    text-align: center;

    @include Medium {
        height: 13rem;
    }
}
.wrap {
    margin: 0 auto;
    max-width: 1024px;
    height: inherit;
    padding: 1rem;
}
.icon {
    display: inline-block;
    width: 2rem;
    height: auto;
    margin: 1rem;

    @include Small {
        margin: 1rem 1.9rem;
    }
    @include Medium {
        margin: 1rem 3.5rem;
        width: 3rem;
    }

}
.footer_text {
    font-size: .8rem;
    padding-top: 5%;

    @include Medium {
        font-size: .9rem;
    }
}
