
.outer {
    position: fixed;
    width: 100%;
}
.wrapper {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 1.0875rem;
}
.logo {
    height: 75px;
    width: auto;
    padding: 5px 0;
    margin-top: 1rem;
    display: inline-block;
    position: absolute;
}
.navbar {
    display: inline-block;
    float: right;
    padding: 1rem 0;
}
li {
    list-style: none;
    display: inline-block;
    padding: 8px;
    border-bottom: 2px solid transparent;
    transition: border-bottom .3s;
    margin-left: 2rem;

    &:hover {
        border-bottom: 2px solid #940003;
    }
}
nav li:last-child {
    background-color: #940003;
    border-radius: 23px;
    margin-left: 2rem;
    transition: all .3s;
    border-bottom: none;

    & a {
        color: #ffffff;
        padding: 5px;
    }
    & a:hover {
        color: #ffffff;
    }
    &:hover {
        background-color: rgba(66, 66, 66, 0.5);
        border-bottom: none;
    }
}
a {
    
    color: #424242;
}


