@import '../assets/styles/base';

/* this is for later, when I make it sticky

.header {
  position: absolute;
  width: 100%;
  z-index: 5;
  padding: 0.7rem 0;
  top: 2rem;
}
*/
/* for now... */
.header_fixed {
  position: fixed;
  top: 0;
  background-color: hsla(0, 0%, 100%, 0.99);
  z-index: 5;
  padding: 1.5rem 0;
  width: 100%;
}
.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 1.0875rem;
}
.logo {
  height: 3rem;
  width: auto;
  display: inline-block;
  position: absolute;
  margin-top: -0.3rem;

  @include Large {
    height: 3.5rem;
  }
}
.navbar {
  display: none;
  float: right;

  @include Medium {
    display: inline-block;
  }
}
li {
  list-style: none;
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  &:hover {
    border-bottom: 2px solid $mainRed;
  }
}
nav li:last-child {
  background-color: $mainRed;
  border-radius: 23px;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  transition: all 0.3s;
  border-bottom: none;

  & a {
    color: #ffffff;
    padding: 5px;
  }
  & a:hover {
    color: #ffffff;
  }
  &:hover {
    background-color: rgba(66, 66, 66, 0.5);
    border-bottom: none;
  }
}
a {
  color: $mainGray;
}
