.outer {
    position: absolute;
    width: 100%;
    background-color: cyan;
}
.wrapper {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 1.0875rem;
}
.logo {
    height: 80px;
    width: 240px;
    background-color: blue;
    display: inline-block;
    position: absolute;
}
.navbar {
    display: inline-block;
    float: right;
}


