@import "../assets/styles/base";

.header {
    position: absolute;
    width: 100%;
    z-index: 2;
}
.wrapper {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 1.0875rem;
}
.logo {
    height: 4rem;
    width: auto;
    padding: 5px 0;
    margin-top: 1.89rem;
    display: inline-block;
    position: absolute;
}
.navbar {
    display: inline-block;
    float: right;
    padding: 2.7rem 0;
}
li {
    list-style: none;
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom .3s;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    &:hover {
        border-bottom: 2px solid $mainRed;
    }
}
nav li:last-child {
    background-color: $mainRed;
    border-radius: 23px;
    padding: .5rem 1rem;
    margin-left: 2rem;
    transition: all .3s;
    border-bottom: none;

    & a {
        color: #ffffff;
        padding: 5px;
    }
    & a:hover {
        color: #ffffff;
    }
    &:hover {
        background-color: rgba(66, 66, 66, 0.5);
        border-bottom: none;
    }
}
a {
    color: $mainGray;
}


