.container {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgb(20,14,117);
    background: linear-gradient(338deg, rgba(20,14,117,1) 40%, rgba(0,82,150,1) 58%, rgba(255,255,255,1) 100%);
}
.wrapper {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 1.0875rem 1.45rem;
    position: relative;
    
}
.textbox {
    color: #ffffff;
    position: absolute;
    width: 55%;
    top: 20%;
    transform: translateY(80%);
    left: 0; 
    padding: 2rem;
}
